<nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="margin-bottom:30px;">
  <a class="navbar-brand" href="<{$PB_DOMAIN}>/"><img src="<{$PB_CDN}>/img/atsast/icon_white.png" height="30"> PasteBin</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item <{if $title=='首页' }> active <{/if}>/>">
        <a class="nav-link" href="<{$PB_DOMAIN}>/">首页</a>
      </li>
    </ul>

    <ul class="navbar-nav mundb-nav-right">
      <{if $islogin }>
        <li class="nav-item dropdown mundb-btn-ucenter">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><{$greeting}>，<{$userinfo['display_name']}></a>
            <div class="dropdown-menu dropdown-menu-right">
                <div class="dropdown-header"><img src="<{$userinfo['avatar']}>" class="mundb-avatar" id="atsast_nav_avatar" /><div><h6><{$userinfo['name']}><br/><small><{$userinfo['email']}></small></h6></div></div>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item text-danger" href="<{$PB_DOMAIN}>/account/logout"><i class="iconfont icon-exit-to-app"></i> 退出</a>
            </div>
        </li>
        <script>
          window.addEventListener("load", function () {
            $('.dropdown-header').click(function (e) {
              e.stopPropagation();
            });
          }, false);
        </script>
      <{else}>   
        <li class="nav-item mundb-no-shrink <{if $title=='登录 / 注册' }> active <{/if}>/>">
            <a class="nav-link" href="<{$PB_DOMAIN}>/account">登录 / 注册</a>
        </li>
      <{/if}>
    </ul>
  </div>
</nav>